.h5{
    color: black;
}

.my-band-card{
    display: block;
    background: rgba(1, 1, 1, 0.9);
    width: 75%;
    margin: 0 auto;
    padding: 15px;
}

.bandcard{
    float: left;
    font-family: 'Pirata One', cursive;
}

.my-band-card{
    font-family: 'Pirata One', cursive;
}
.card-title{
    font-size: 35px;
    color: black;
    
}