.register-text{
    font-family: 'Pirata One', cursive;
    color: white;
}

.myh1{
    font-size: 70px;
}

.update{
width: 100%;
max-width: 660px;
padding: 15px;
margin: auto;
height: 100%;
text-align: center;
padding-top: 100px;
}

.favorite-title{
    text-align: center;
}

.my-band-card {
    display: block;
    background: rgba(1, 1, 1, 0.9);
    margin-bottom: 15px;
    text-align: center;
    margin-left: 50px;
}