.band-poster{
    margin-top: 15px;
}

.button{
    width: 165px;
}

.band-poster, .back-button{
    text-align: center;
}

.band-details{
    font-size: 35px;
    font-weight: bold;
    padding: 15px;
    font-family: 'Pirata One', cursive;
}

.back-button{
    font-family: 'Pirata One', cursive;
}
